@import "variables";
@import "reset";
@import "mixin";

.preloader {
	background: #000;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;

	.loadcon {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
	}

	.loader {
		width: 70%;
		margin-bottom: 15px;
	}
}

.wrapper {
	width: 100%;
	height: 100vh;
	background-image: url(/img/qslide-1.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all 0.5s ease;

	@include sm-screen {
		padding: 60px 0 0;
		height: 95vh;
	}
	@include md-screen {
		padding: 150px 0 0px;
		height: 80vh;
	}

	.banner {
		position: absolute;
		padding: 3em 68.3px;
		left: 0;
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		color: #fff;
		z-index: 1;

		@include sm-screen {
			padding: 0 11.7px;
			text-align: center;
			width: 100%;
		}

		@include md-screen {
			padding: 0 82px;
			text-align: center;
			width: 100%;
		}

		@include lg-screen {
			padding: 0 96px;
		}

		.banner__img {
			margin-bottom: 1em;
		}

		.banner__txt {
			font-family: Arial, Verdana, sans-serif;
			font-size: 60px;
			line-height: 76px;

			@include sm-screen {
				font-size: 30px;
				line-height: 33px;
			}

			.cut {
				display: block;
				@include lg-screen {
					display: block;
				}
			}
		}

		.banner__smTxt {
			font-size: 22px;
			line-height: 31px;
			margin: 15px 0 30px;

			@include sm-screen {
				font-size: 18px;
			}
		}

		.wrapper--1 {
			display: flex;
			gap: 1em;

			@include sm-screen {
				flex-direction: column;
			}
			@include md-screen {
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			.banner__btn {
				@include btn;

				@include sm-screen {
					width: 80%;
				}
				@include md-screen {
					width: 100%;
				}

				&:hover {
					@include btn-hover;
				}
			}

			.btn--chg {
				border: none;
				border: 2px solid transparent;
				background-color: #ff0082;

				&:hover {
					@include btn-hover;
				}
			}
		}

		.wrapper--2 {
			display: flex;
			gap: 3em;
			margin-top: 3.5em;

			.banner__icons {
				font-size: 20px;
				color: #fff;
				transition: 0.5s ease-in-out;
				cursor: pointer;

				&:hover {
					color: #ff0082;
					scale: 1.1;
				}
			}
		}
	}

	.overlay {
		position: fixed;
		left: 0;
		top: 0;
		background: #000000;
		width: 100%;
		height: 100%;
		opacity: 0.7;
		transition: all 0.5s linear;
		clip-path: polygon(0 0, 62% 0, 40% 100%, 0% 100%);

		@include sm-screen {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		}
		@include md-screen {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		}
	}

	.shape {
		clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);

		@include sm-screen {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		}
		@include md-screen {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		}
	}
}

.popup__bg {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	display: grid;
	place-content: center;
	z-index: 2;
	visibility: collapse;
	transition: 0.5s linear;

	.popup__con {
		background-image: url(/img/background-newsletter.jpg);
		background-position: center;
		background-size: cover;
		width: 500px;

		@include sm-screen {
			width: 350px;
		}
	}

	.popup {
		padding: 90px 70px;
		border: 2px solid #ff0082;
		text-align: center;
		background: #000;
		color: #fff;
		opacity: 0.7;
		position: relative;

		@include sm-screen {
			padding: 70px 20px 50px;
		}

		.close__btn {
			height: 40px;
			width: 40px;
			background: rgb(49, 48, 48);
			opacity: 1;
			cursor: pointer;
			border-radius: 5px;
			display: grid;
			place-content: center;
			position: absolute;
			right: 2em;
			top: 1.5em;
			transition: 0.5s linear;

			@include sm-screen {
				right: 1em;
				top: 0.6em;
			}

			&:hover {
				background: #fff;
				color: #000;
			}

			.close__icon {
				font-size: 25px;
			}
		}

		.popup__sh {
			font-size: 40px;
			line-height: 52px;
			margin-bottom: 25px;

			@include sm-screen {
				font-size: 25px;
				line-height: 33px;
			}
		}

		.popup__txt {
			font-size: 16px;
			line-height: 26px;
		}

		.wrapper--3 {
			margin-top: 3em;

			.popup__inpt {
				padding: 20px 10px;
				width: 100%;
				background: #fff;
				border-radius: 5px;
			}

			.popup__btn {
				@include btn;
				background-color: #ff0082;
				border: none;
				text-transform: uppercase;
				margin: 20px auto 0;
			}
		}
	}
}
.show-popup {
	visibility: visible;
}

.loader-bar {
	height: 2px;
	width: 0%;
	background-color: #a4b0be;
	position: absolute;
	bottom: 0;
	left: 0;
}

.sidebar {
	padding-top: 100px;
	position: fixed;
	right: -100%;
	top: 0;
	width: 50%;
	background: white;
	height: 100%;
	z-index: 1;
	direction: rtl;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scrollbar-width: 10px;
	transition: all 0.5s linear;

	@include sm-screen {
		position: relative;
		right: 0;
		width: 100%;
		overflow-y: auto;
	}
	@include md-screen {
		position: relative;
		right: 0;
		width: 100%;
		overflow-y: auto;
	}

	.sidebar__con1 {
		position: relative;
		padding: 0 68.3px;
		margin-bottom: 100px;

		@include sm-screen {
			padding: 0 39px;
		}

		.close__sidebar {
			height: 40px;
			width: 40px;
			border-radius: 5px;
			cursor: pointer;
			font-size: 2.4rem;
			font-weight: bold;
			display: grid;
			place-content: center;
			color: #a4b0be;
			background-color: transparent;
			position: absolute;
			right: 1.5em;
			top: -2em;

			@include sm-screen {
				display: none;
			}
			@include md-screen {
				display: none;
			}

			&:hover {
				background: #f9fafb;
			}
		}

		.sidebar__lgTxt {
			@include subhead;
		}

		.sidebar__smTxt {
			@include mdtxt;
		}
	}

	.sidebar__con2 {
		background-image: url(/img/pr-1.jpg);
		@include cards;

		.txt--con {
			@include card--con;

			.txt__lgTxt {
				@include cardlg--txt;
			}

			.txt__smTxt {
				@include cardSm--txt;
			}
		}
	}

	.edit1 {
		background-image: url(/img/pr-2.jpg);
		background-position: center;
		background-size: cover;
	}

	.dbl {
		display: flex;
		justify-content: center;
		align-items: center;

		@include sm-screen {
			flex-direction: column;
		}
		@include md-screen {
			flex-direction: column;
		}

		.dbl__con1 {
			background-image: url(/img/pr-3.jpg);
			@include cards;
			position: relative;

			.dbl__con {
				@include card--con;

				.dbl__lgTxt {
					@include cardlg--txt;
				}

				.dbl__smTxt {
					@include cardSm--txt;
				}
			}
		}

		.edit2 {
			background-image: url(/img/pr-4.jpg);

			.pt--con {
				padding: 12.8px 28.5px;
				border-radius: 5px;
				background: gray;
				color: #fff;
				font-size: 16px;
				position: absolute;
				top: 3em;
				left: 2em;
				cursor: pointer;
			}
		}
	}

	.pink {
		padding: 150px 0;
		margin-bottom: 100px;
		background: #ff0082;
		color: #fff;
		text-align: center;

		.pink__mdtxt {
			font-size: 26px;
			line-height: 26px;
			text-transform: uppercase;
		}

		.pink__lgtxt {
			font-size: 105px;
			line-height: 105px;
			margin-bottom: 25px;
		}

		.pink__btn {
			@include btn;
			font-size: 16px;
			line-height: 10px;
			text-transform: uppercase;
			padding: 24px 48px;

			&:hover {
				background: #fff;
				color: black;
			}
		}
	}

	.knwmore {
		padding: 0 68.3px;
		margin-bottom: 100px;

		@include sm-screen {
			padding: 0 39px;
		}

		.knwmore__lgtxt {
			@include subhead;
		}

		.knwmore__smtxt {
			@include mdtxt;
		}
	}

	.dbl-inpt {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1em;

		@include sm-screen {
			flex-direction: column;
		}
		.sm__input {
			display: block;
			@include inputs;
		}
	}
	.md__input {
		@include inputs;
	}

	.lg__txt {
		padding: 16px 48px 28.8px 12.8px;
		border-radius: 5px;
		width: 100%;
		background: #f9fafb;
		margin-bottom: 12px;
	}

	.knwmore__btn {
		@include btn;
		border: none;
		background: #ff0082;
		text-transform: uppercase;
	}

	.contact {
		margin-top: 4em;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1em;
		color: #a4b0be;

		@include sm-screen {
			flex-direction: column;
			align-items: baseline;
		}

		.contact__icon {
			font-size: 3.5em;
			// color: ;
		}

		.emails {
			cursor: pointer;
			transition: 0.5s ease;

			&:hover {
				color: #ff0082;
			}
		}
	}

	.copyright {
		text-align: center;
		text-transform: uppercase;
		font-size: 11px;
		color: #a4b0be;
	}
}
.sidebar > * {
	direction: ltr;
}

.sidebar::-webkit-scrollbar {
	width: 10px;
}
.sidebar::-webkit-scrollbar {
	direction: rtl;
}
.sidebar::-webkit-scrollbar > *{
	direction: ltr;
}

.active {
	right: 0;
}
