/* ------------------------------- font stlye ------------------------------- */
/* ------------------------------- font stlye ------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: transparent;
  border: none;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

.preloader {
  background: #000;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.preloader .loadcon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.preloader .loader {
  width: 70%;
  margin-bottom: 15px;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-image: url(/img/qslide-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
}
@media (width < 767px) {
  .wrapper {
    padding: 60px 0 0;
    height: 95vh;
  }
}
@media (767px < width < 1024px) {
  .wrapper {
    padding: 150px 0 0px;
    height: 80vh;
  }
}
.wrapper .banner {
  position: absolute;
  padding: 3em 68.3px;
  left: 0;
  width: 50%;
  color: #fff;
  z-index: 1;
}
@media (width < 767px) {
  .wrapper .banner {
    padding: 0 11.7px;
    text-align: center;
    width: 100%;
  }
}
@media (767px < width < 1024px) {
  .wrapper .banner {
    padding: 0 82px;
    text-align: center;
    width: 100%;
  }
}
.wrapper .banner .banner__img {
  margin-bottom: 1em;
}
.wrapper .banner .banner__txt {
  font-family: Arial, Verdana, sans-serif;
  font-size: 60px;
  line-height: 76px;
}
@media (width < 767px) {
  .wrapper .banner .banner__txt {
    font-size: 30px;
    line-height: 33px;
  }
}
.wrapper .banner .banner__smTxt {
  font-size: 22px;
  line-height: 31px;
  margin: 15px 0 30px;
}
@media (width < 767px) {
  .wrapper .banner .banner__smTxt {
    font-size: 18px;
  }
}
.wrapper .banner .wrapper--1 {
  display: flex;
  gap: 1em;
}
@media (width < 767px) {
  .wrapper .banner .wrapper--1 {
    flex-direction: column;
  }
}
@media (767px < width < 1024px) {
  .wrapper .banner .wrapper--1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.wrapper .banner .wrapper--1 .banner__btn {
  padding: 19.2px 38.4px;
  cursor: pointer;
  border-radius: 5px;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  transition: 0.5s linear;
}
@media (width < 767px) {
  .wrapper .banner .wrapper--1 .banner__btn {
    width: 80%;
  }
}
@media (767px < width < 1024px) {
  .wrapper .banner .wrapper--1 .banner__btn {
    width: 100%;
  }
}
.wrapper .banner .wrapper--1 .banner__btn:hover {
  background-color: #fff;
  color: #121212;
}
.wrapper .banner .wrapper--1 .btn--chg {
  border: none;
  background-color: #ff0082;
}
.wrapper .banner .wrapper--1 .btn--chg:hover {
  background-color: #fff;
  color: #121212;
}
.wrapper .banner .wrapper--2 {
  display: flex;
  gap: 3em;
  margin-top: 3.5em;
}
.wrapper .banner .wrapper--2 .banner__icons {
  font-size: 20px;
  color: #fff;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.wrapper .banner .wrapper--2 .banner__icons:hover {
  color: #ff0082;
  scale: 1.1;
}
.wrapper .overlay {
  position: fixed;
  left: 0;
  top: 0;
  background: #000000;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: all 0.5s linear;
  -webkit-clip-path: polygon(0 0, 62% 0, 40% 100%, 0% 100%);
          clip-path: polygon(0 0, 62% 0, 40% 100%, 0% 100%);
}
@media (width < 767px) {
  .wrapper .overlay {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@media (767px < width < 1024px) {
  .wrapper .overlay {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
.wrapper .shape {
  -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
          clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}
@media (width < 767px) {
  .wrapper .shape {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@media (767px < width < 1024px) {
  .wrapper .shape {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.popup__bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: grid;
  place-content: center;
  z-index: 2;
  visibility: collapse;
  transition: 0.5s linear;
}
.popup__bg .popup__con {
  background-image: url(/img/background-newsletter.jpg);
  background-position: center;
  background-size: cover;
  width: 500px;
}
@media (width < 767px) {
  .popup__bg .popup__con {
    width: 350px;
  }
}
.popup__bg .popup {
  padding: 90px 70px;
  border: 2px solid #ff0082;
  text-align: center;
  background: #000;
  color: #fff;
  opacity: 0.7;
  position: relative;
}
@media (width < 767px) {
  .popup__bg .popup {
    padding: 70px 20px 50px;
  }
}
.popup__bg .popup .close__btn {
  height: 40px;
  width: 40px;
  background: rgb(49, 48, 48);
  opacity: 1;
  cursor: pointer;
  border-radius: 5px;
  display: grid;
  place-content: center;
  position: absolute;
  right: 2em;
  top: 1.5em;
  transition: 0.5s linear;
}
@media (width < 767px) {
  .popup__bg .popup .close__btn {
    right: 1em;
    top: 0.6em;
  }
}
.popup__bg .popup .close__btn:hover {
  background: #fff;
  color: #000;
}
.popup__bg .popup .close__btn .close__icon {
  font-size: 25px;
}
.popup__bg .popup .popup__sh {
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 25px;
}
@media (width < 767px) {
  .popup__bg .popup .popup__sh {
    font-size: 25px;
    line-height: 33px;
  }
}
.popup__bg .popup .popup__txt {
  font-size: 16px;
  line-height: 26px;
}
.popup__bg .popup .wrapper--3 {
  margin-top: 3em;
}
.popup__bg .popup .wrapper--3 .popup__inpt {
  padding: 20px 10px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
}
.popup__bg .popup .wrapper--3 .popup__btn {
  padding: 19.2px 38.4px;
  cursor: pointer;
  border-radius: 5px;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  transition: 0.5s linear;
  background-color: #ff0082;
  border: none;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.show-popup {
  visibility: visible;
}

.sidebar {
  padding-top: 100px;
  position: fixed;
  right: -100%;
  top: 0;
  width: 50%;
  background: white;
  height: 100%;
  z-index: 1;
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition: all 0.5s linear;
}
@media (width < 767px) {
  .sidebar {
    position: relative;
    right: 0;
    width: 100%;
    overflow-y: auto;
  }
}
@media (767px < width < 1024px) {
  .sidebar {
    position: relative;
    right: 0;
    width: 100%;
    overflow-y: auto;
  }
}
.sidebar .sidebar__con1 {
  position: relative;
  padding: 0 68.3px;
  margin-bottom: 100px;
}
@media (width < 767px) {
  .sidebar .sidebar__con1 {
    padding: 0 39px;
  }
}
.sidebar .sidebar__con1 .close__sidebar {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: bold;
  display: grid;
  place-content: center;
  color: #a4b0be;
  background-color: transparent;
  position: absolute;
  right: 1.5em;
  top: -2em;
}
@media (width < 767px) {
  .sidebar .sidebar__con1 .close__sidebar {
    display: none;
  }
}
@media (767px < width < 1024px) {
  .sidebar .sidebar__con1 .close__sidebar {
    display: none;
  }
}
.sidebar .sidebar__con1 .close__sidebar:hover {
  background: #f9fafb;
}
.sidebar .sidebar__con1 .sidebar__lgTxt {
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.sidebar .sidebar__con1 .sidebar__smTxt {
  font-size: 16px;
  line-height: 26px;
  color: #a4b0be;
}
.sidebar .sidebar__con2 {
  background-image: url(/img/pr-1.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: end;
}
.sidebar .sidebar__con2 .txt--con {
  padding: 32px 64px;
  background: #000;
  opacity: 0.7;
}
@media (width < 767px) {
  .sidebar .sidebar__con2 .txt--con {
    padding: 16px;
  }
}
.sidebar .sidebar__con2 .txt--con .txt__lgTxt {
  color: white;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  padding-bottom: 16px;
  border-bottom: 1px solid #a4b0be;
}
.sidebar .sidebar__con2 .txt--con .txt__smTxt {
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
  color: #a4b0be;
}
.sidebar .edit1 {
  background-image: url(/img/pr-2.jpg);
  background-position: center;
  background-size: cover;
}
.sidebar .dbl {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (width < 767px) {
  .sidebar .dbl {
    flex-direction: column;
  }
}
@media (767px < width < 1024px) {
  .sidebar .dbl {
    flex-direction: column;
  }
}
.sidebar .dbl .dbl__con1 {
  background-image: url(/img/pr-3.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: end;
  position: relative;
}
.sidebar .dbl .dbl__con1 .dbl__con {
  padding: 32px 64px;
  background: #000;
  opacity: 0.7;
}
@media (width < 767px) {
  .sidebar .dbl .dbl__con1 .dbl__con {
    padding: 16px;
  }
}
.sidebar .dbl .dbl__con1 .dbl__con .dbl__lgTxt {
  color: white;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  padding-bottom: 16px;
  border-bottom: 1px solid #a4b0be;
}
.sidebar .dbl .dbl__con1 .dbl__con .dbl__smTxt {
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
  color: #a4b0be;
}
.sidebar .dbl .edit2 {
  background-image: url(/img/pr-4.jpg);
}
.sidebar .dbl .edit2 .pt--con {
  padding: 12.8px 28.5px;
  border-radius: 5px;
  background: gray;
  color: #fff;
  font-size: 16px;
  position: absolute;
  top: 3em;
  left: 2em;
  cursor: pointer;
}
.sidebar .pink {
  padding: 150px 0;
  margin-bottom: 100px;
  background: #ff0082;
  color: #fff;
  text-align: center;
}
.sidebar .pink .pink__mdtxt {
  font-size: 26px;
  line-height: 26px;
  text-transform: uppercase;
}
.sidebar .pink .pink__lgtxt {
  font-size: 105px;
  line-height: 105px;
  margin-bottom: 25px;
}
.sidebar .pink .pink__btn {
  padding: 19.2px 38.4px;
  cursor: pointer;
  border-radius: 5px;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  transition: 0.5s linear;
  font-size: 16px;
  line-height: 10px;
  text-transform: uppercase;
  padding: 24px 48px;
}
.sidebar .pink .pink__btn:hover {
  background: #fff;
  color: black;
}
.sidebar .knwmore {
  padding: 0 68.3px;
  margin-bottom: 100px;
}
@media (width < 767px) {
  .sidebar .knwmore {
    padding: 0 39px;
  }
}
.sidebar .knwmore .knwmore__lgtxt {
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.sidebar .knwmore .knwmore__smtxt {
  font-size: 16px;
  line-height: 26px;
  color: #a4b0be;
}
.sidebar .dbl-inpt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
@media (width < 767px) {
  .sidebar .dbl-inpt {
    flex-direction: column;
  }
}
.sidebar .dbl-inpt .sm__input {
  display: block;
  padding: 28.8px 48px 28.8px 12.8px;
  background: #f9fafb;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 12px;
}
.sidebar .md__input {
  padding: 28.8px 48px 28.8px 12.8px;
  background: #f9fafb;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 12px;
}
.sidebar .lg__txt {
  padding: 16px 48px 28.8px 12.8px;
  border-radius: 5px;
  width: 100%;
  background: #f9fafb;
  margin-bottom: 12px;
}
.sidebar .knwmore__btn {
  padding: 19.2px 38.4px;
  cursor: pointer;
  border-radius: 5px;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  transition: 0.5s linear;
  border: none;
  background: #ff0082;
  text-transform: uppercase;
}
.sidebar .contact {
  margin-top: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: #a4b0be;
}
@media (width < 767px) {
  .sidebar .contact {
    flex-direction: column;
    align-items: baseline;
  }
}
.sidebar .contact .contact__icon {
  font-size: 3.5em;
}
.sidebar .contact .emails {
  cursor: pointer;
  transition: 0.5s ease;
}
.sidebar .contact .emails:hover {
  color: #ff0082;
}
.sidebar .copyright {
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  color: #a4b0be;
}

.active {
  right: 0;
}/*# sourceMappingURL=style.css.map */